* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #548687, #87A9B5);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #fff, #f7f7f7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
    transition: background-color 0.2s ease;
}

.box:hover {
    background-color: #f7f7f7;
}

.box:active {
    background-color: #e7e7e7;
}

#reset-btn {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border: none;
    border-radius: 1rem;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#reset-btn:hover {
    background-color: #333;
}

#new-btn {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border: none;
    border-radius: 1rem;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#new-btn:hover {
    background-color: #333;
}

#msg {
    color: #ffffc7;
    font-size: 5vmin;
    font-weight: bold;
}

.msg-container {
    height: 30vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
}

.msg-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
    display: none;
}